<CodeSnippets
  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>
        Add To Message Queue
      </Title>
    </Header>
    <Snippet>
      <Code Language="CSharp">
        <![CDATA[ PendingMessageQueue.Enqueue(string.Format(MESSAGEQUEUEFORMATSTRING,_CurrentTick(),"",0,"",""));]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>


